mat-paginator {
    width:100vw;
    justify-content:right;
    position: fixed;
    bottom: 0;
}
main {
    padding-top: 3vh;
    position: absolute;
    left:10vw;
}
button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}