<main>
    <button class="back" (click)="goBack()">←</button>
    @if (deckRequest.error()) {
        <div class="error-message">
            <p>{{ deckRequest.error()?.message }}</p>
            <button (click)="deckRequest.refresh()">Retry</button>
        </div>
    } @else {
        <h1>{{ deckRequest.persistentValue()?.name }}</h1>
        <div class="card-list">
            @for(card of deckRequest.persistentValue()?.cards; track $index) {
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title> {{ card.personName.trim().length > 43 ? `${card.personName.slice(0,40).trim()}...`:card.personName}}</mat-card-title>
                    </mat-card-header>
                    @if(card.personDepartment && card.personName.length < 30) {
                        <mat-card-content>
                            <p>
                                {{card.personDepartment.trim().length > 21 ? `${card.personDepartment.slice(0,18).trim()}...` : card.personDepartment}}
                            </p>
                        </mat-card-content>
                    }
                </mat-card>
            } @empty {
                <p class="empty-message">No cards found</p>
            }
        </div>
    }

    <button (click)="openModal()">Add a card</button>
    <button>Take the quiz!</button>
    @if (isModalOpen){
        <div class="modal-overlay">
            <div class="modal-content"><button class="close-btn" (click)="closeModal()">X</button>
              <h2>Add a card &nbsp;</h2>
              <p>Please enter the person information for your new card:</p>
              <form (ngSubmit)="addCard()" #formRef="ngForm">
                <label for="name">Name</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    [(ngModel)]="formData.name"
                    />
                <label for="department">Department</label>
                <input
                    type="text"
                    id="department"
                    name="department"
                    [(ngModel)]="formData.department"
                />
                <label for="image">Picture (file upload)</label>
                <input
                    type="file"
                    id="image"
                    name="image"
                    required
                    [(ngModel)]="formData.image"
                />
                <button type="submit" [disabled]="formRef.invalid">Add</button>
              </form>
            </div>
          </div>
        }

    </main>
    
    <mat-paginator
      [length]="deckRequest.persistentValue()?.cards?.length"
      [showFirstLastButtons]="true"
      [pageSize]="PAGE_SIZE"
      [hidePageSize]="true"
      [pageIndex]="pageIndex()"
      [disabled]="deckRequest.isLoading()"
      (page)="handlePaginationUpdate($event)"
    />
    
    @if (deckRequest.isLoading()) {
        <mat-spinner />
      }